<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Passowrd</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studenttt">
        <th scope="row">{{student.id}} </th>
        <td>{{student.name}}</td>
        <td> {{student.email}} </td>
        <td> {{student.password}} </td>
        <td (click)="removeList(student.id)">Delete </td>
        <td routerLink="/edit/{{student.id}}">edit </td>

      </tr>
     
    </tbody>
  </table>